MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/portfolio
JWT_SECRET=your_super_secret_jwt_key_here
SUPER_ADMIN_EMAIL=your_admin_email@gmail.com
SMTP_NAME=Your Name
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password_here
NEXT_PUBLIC_SITE_URL=http://localhost:3000
