@import "tailwindcss";

body {
    background-color: #f6f2ee;
    font-family: "Pirata One", serif;
}

p {
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

::-webkit-scrollbar-thumb {
  background: #c0392b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c0392b;
}
